<div class="flex h-full max-h-screen flex-col justify-between">
  <div class="flex h-[60px] items-center border-b px-4">
    <span class="relative flex shrink-0 overflow-hidden rounded-full h-10 w-10">
      <span
        [pTooltip]="state.currentUser().displayName!"
        class="flex p-2 h-full w-full items-center justify-center rounded-full text-indigo-600 bg-white"
        ><span class="font-semibold">{{
          state.currentUser().displayName | avatarName
        }}</span></span
      >
    </span>
  </div>
  <div class="p-4">
    <button
      pTooltip="Sign Out"
      class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors border border-input bg-background hover:bg-indigo-700 ml-auto h-10 w-10"
      (click)="signOut()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
        title="Sign Out"
      >
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
        <polyline points="16 17 21 12 16 7"></polyline>
        <line x1="21" x2="9" y1="12" y2="12"></line>
      </svg>
      <span class="sr-only">Sign out</span>
    </button>
  </div>
</div>
