<form class="mt-8 space-y-6" #form="ngForm" (ngSubmit)="submitForm()">
  <input type="hidden" value="true" name="remember" />
  <div class="rounded-md shadow-sm -space-y-px">
    <div>
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 sr-only"
        for="username"
      >
        Username
      </label>
      <input
        class="h-10 bg-background text-sm placeholder:text-muted-foreground disabled:opacity-5 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none"
        placeholder="Username"
        type="text"
        name="username"
        [ngModel]="username()"
        (ngModelChange)="username.set($event)"
      />
      <div
        class="text-red-500 font-light text-sm py-2"
        *ngIf="vm.errors.username"
      >
        Username is required
      </div>
    </div>
    <div>
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 sr-only"
        for="password"
      >
        Password
      </label>
      <input
        class="h-10 bg-background text-sm ring-offset-background placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none"
        placeholder="Password"
        type="password"
        name="password"
        [ngModel]="password()"
        (ngModelChange)="password.set($event)"
      />
      <div
        class="text-red-500 font-light text-sm py-2"
        *ngIf="vm.errors.password"
      >
        Password is required
      </div>
    </div>
  </div>
  <div>
    <button
      pButton
      label="Sign in"
      class="h-10 w-full flex justify-center py-2 px-4 text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"
      type="submit"
      [loading]="loaderService.loading()"
      [iconPos]="'right'"
      [disabled]="!vm.valid"
    ></button>
  </div>
</form>
